[submodule "SoapyPlutoSDR"]
	path = thirdparty/SoapyPlutoSDR
	url = https://github.com/TelecomDep/SoapyPlutoSDR.git
	branch = sdr_gadget_timestamping
[submodule "SoapySDR"]
	path = thirdparty/SoapySDR
	url = https://github.com/pothosware/SoapySDR.git
[submodule "libiio"]
	path = thirdparty/libiio
	url = https://github.com/analogdevicesinc/libiio.git
[submodule "libad9361-iio"]
	path = thirdparty/libad9361-iio
	url = https://github.com/analogdevicesinc/libad9361-iio.git
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
