BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SpacesBeforeTrailingComments: 1
BreakBeforeBraces: Attach
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
SpaceAfterCStyleCast: true