BasedOnStyle: Microsoft

UseTab: Never
IndentWidth: 4

PointerAlignment: Right
ReferenceAlignment: Right

BreakBeforeBinaryOperators: All
AlignOperands: true

AccessModifierOffset: -2

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: true
  AfterNamespace: true
  AfterFunction: true
  AfterUnion: true
  AfterEnum: true
  AfterExternBlock: true
  BeforeLambdaBody: true
  AfterControlStatement: true
AlignAfterOpenBracket: BlockIndent

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
Cpp11BracedListStyle: false

ColumnLimit: 0

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: "$^"

NamespaceIndentation: All